services:
  api:
    build: .
    ports:
      - "80:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80

      # Postgres (inside compose network)
      ConnectionStrings__DefaultConnection: "Server=db;Port=5432;Database=serverhealth;Username=yusuf;Password=yusuf;"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: serverhealth
      POSTGRES_USER: yusuf
      POSTGRES_PASSWORD: yusuf
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U yusuf -d serverhealth"]
      interval: 5s
      timeout: 3s
      retries: 30

volumes:
  pgdata:
